{{- if .Values.namespaces }}
{{- range $index, $ns := .Values.namespaces }}
{{- if ne $index 0 }}
---
apiVersion: v1
kind: Namespace
metadata:
  annotations:
    "openshift.io/description": ""
    "openshift.io/display-name": ""
    "helm.sh/hook": pre-install,pre-upgrade
  labels:
    kubernetes.io/metadata.name: {{ $ns }}
    openshift.io/cluster-monitoring: "true"
  name: {{ $ns }}
spec:
  finalizers:
  - kubernetes
{{- end }}
{{- end }}
{{- end }}
