{{- if .Values.secrets }}
{{- range $secret := .Values.secrets }}
{{- range $ns := $.Values.namespaces }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secret.name }}
  namespace: {{ $ns }}
  labels:
    app.kubernetes.io/name: argocd-secret
    app.kubernetes.io/part-of: argocd
    {{- if eq $secret.type "repo-creds" }}
    argocd.argoproj.io/secret-type: repo-creds
    {{- end }}
type: kubernetes.io/basic-auth
stringData:
  username:  {{ $secret.username | quote }}
  password: {{ $secret.password | quote }}
  {{- if eq $secret.type "repo-creds" }}
  type: git
  url: https://github.com/janus-platforms-test
  {{- end }}
{{- end }}
{{- end }}
{{- end }}